<form #vehicleForm="ngForm" class="vehicle-form" (ngSubmit)="onSubmit()">

  <mat-form-field class="vehicle-full-width">
    <mat-label>Marca</mat-label>
    <input name="brand" ngModel required matInput>
  </mat-form-field>

  <mat-form-field class="vehicle-full-width">
    <mat-label>Modelo</mat-label>
    <input name="model" ngModel required matInput>
  </mat-form-field>

  <mat-form-field class="vehicle-full-width">
    <mat-label>Ano</mat-label>
    <input name="year" ngModel required matInput>
  </mat-form-field>

  <mat-form-field class="vehicle-full-width">
    <mat-label>Cor</mat-label>
    <mat-select name="color" required ngModel>
      <mat-option value="Branco">Branco</mat-option>
      <mat-option value="Preto">Preto</mat-option>
      <mat-option value="Cinza">Cinza</mat-option>
      <mat-option value="Vermelha">Vermelho</mat-option>
      <mat-option value="Azul">Azul</mat-option>
      <mat-option value="Outra">Outra</mat-option>
    </mat-select>
  </mat-form-field>

  <button type="submit" (click)="reloadPage()" mat-raised-button color="primary">Enviar</button>

</form>
