<form class="vehicle-form" (ngSubmit)="onSubmit()">

  <mat-form-field class="vehicle-full-width">
    <mat-label>Marca</mat-label>
    <input name="brand" [(ngModel)]="vehicle.brand" required matInput>
  </mat-form-field>

  <mat-form-field class="vehicle-full-width">
    <mat-label>Modelo</mat-label>
    <input name="model" [(ngModel)]="vehicle.model" required matInput>
  </mat-form-field>

  <mat-form-field class="vehicle-full-width">
    <mat-label>Ano</mat-label>
    <input name="year" [(ngModel)]="vehicle.year" required matInput>
  </mat-form-field>

  <mat-form-field class="vehicle-full-width">
    <mat-label>Cor</mat-label>
    <mat-select name="color" required [(ngModel)]="vehicle.color">
      <mat-option value="Branco">Branco</mat-option>
      <mat-option value="Preto">Preto</mat-option>
      <mat-option value="Cinza">Cinza</mat-option>
      <mat-option value="Vermelho">Vermelho</mat-option>
      <mat-option value="Azul">Azul</mat-option>
      <mat-option value="Outra">Outra</mat-option>
    </mat-select>
  </mat-form-field>

  <button type="submit" mat-raised-button color="primary">Salvar</button>

</form>
